.containerServicios {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    
    .servicios{
        .navServicios{
            font-size: 25px;
        }
    }

    .especialidades{
        .navEspecialidades{
            font-size: 25px;
            
        }
    }
    
}
.persona{
    list-style: none;
    font-weight: bold;
}